<!-- Portfolio Grid Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 ml-auto">
                    <p>Bulb for JIRA is a JIRA plugin displaying list of automated tests along with JIRA issues they are referenced to.</p>
                </div>
                <div class="col-lg-4 mr-auto">
                    <p>Together with plugins for build tools exporting test reports compatible with the plugin it gives a nice way how to make your automated testing transparent to every team member.</p>
                </div>
            </div>
        </div>
    </section>