<!-- Portfolio Grid Section -->
    <section id="gallery" class="success">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Gallery</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 card">
                    <div class="d-block mb-4 h-100 card-image">
                        <a href="{{ site.baseurl }}/img/gallery/projectTestsList.png">
                            <img class="img-fluid img-thumbnail" src="{{ site.baseurl }}/img/gallery/projectTestsList.png" class="img-responsive" alt="">
                        </a>
                    </div>
                    <p class="card-text">List of automated tests for a project</p>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 card">
                    <div class="d-block mb-4 h-100 card-image">
                        <a href="{{ site.baseurl }}/img/gallery/issueTestsList.png">
                            <img class="img-fluid img-thumbnail" src="{{ site.baseurl }}/img/gallery/issueTestsList.png" class="img-responsive" alt="">
                        </a>
                    </div>
                    <p class="card-text">List of tests associated to an issue</p>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 card">
                    <div class="d-block mb-4 h-100 card-image">
                        <a href="{{ site.baseurl }}/img/gallery/individualTestView.png">
                            <img class="img-fluid img-thumbnail" src="{{ site.baseurl }}/img/gallery/individualTestView.png" class="img-responsive" alt="">
                        </a>
                    </div>
                    <p class="card-text">Individual test view</p>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 card">
                    <div class="d-block mb-4 h-100 card-image">
                        <a href="{{ site.baseurl }}/img/gallery/importRest.png">
                            <img class="img-fluid img-thumbnail" src="{{ site.baseurl }}/img/gallery/importRest.png" class="img-responsive" alt="">
                        </a>
                    </div>
                    <p class="card-text">REST method to import your test report</p>
                </div>
            </div>
        </div>
    </section>